@import '../../index.css';

:root{
    --color-fondo-opciones: #F5F4F6
}

.configuracion-container{
    width: 100%;
    height: 100vh;
}

.configuracion-elements{
    /* border: 1px solid #f00; */
    width: 100%;
    height: 100%;
}

.configuracion-bloque{
    width: 100%;
    height: 100%;
}

.configuracion-encabezado{
    /* border: 1px solid #f00; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 25px;
}

.configuracion-logo-user{
    /* border: 1px solid #00f; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.configuracion-circulo-user{
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 19px;
    font-weight: 400;
}

.configuracion-datos-user{
    /* border: 1px solid #00f; */
    width: 20%;
}

.configuracion-nombre-user{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 700;
}

.configuracion-cuerpo{
    /* border: 1px solid #f00; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.configuracion-opciones{
    border: 1px solid #f00;
    width: 97%;
    height: 97%;
    padding: 15px;
    background-color: var(--color-fondo-opciones);
    border: 1px solid var(--color-borde);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px var(--color-borde-difuminado);
}

.configuracion-opcion-bloque{
    border: 3px solid var(--color-fondo-opciones);
    width: 25%;
    height: 17%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.configuracion-opcion-bloque:hover{
    border: 3px solid var(--color-borde);
    transform: scale(1.01);
}

.configuracion-opcion-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-principal);
    font-size: 2.5vw;
}

.configuracion-opcion-datos{
    /* border: 1px solid #f00; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:initial;
    flex-direction: column;
}

.configuracion-datos-titulo{
    font-size: 17px;
    font-weight: 700;
}

.configuracion-datos-detalle{
    font-size: 16px;
    font-weight: 100;
}