@import '../../index.css';

.nuevo-producto-container{
    /* border: 1px solid #f00; */
    width: 100%;
    background: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuevo-producto-elements{
    /* border: 1px solid #f0f; */
    width: 60%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 40px;
}

.nuevo-producto-bloque{
    /* border: 1px solid #00f; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nuevo-producto-guia{
    /* border: 1px solid #f00; */
    width: 100%;
}

.nuevo-producto-formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 990px) {

    .nuevo-producto-elements{
        /* border: 1px solid #f0f; */
        width: 97%;
    }
}