@import '../../index.css';

.calificacion-container{
    /* border: 1px solid #f00; */
    width: 100%;
}

.calificacion-elements{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calificacion-estrella{
    /* border: 1px solid #f00; */
    padding: 3px;
    display: flex;
    color: var(--color-principal);
    cursor: pointer;
    animation-duration: 2.5s;
}