@import '../../index.css';

.ficha-producto-container{
    /* border: 1px solid #f00; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ficha-producto-elements{
    background-color: #FFFFFF;
    border: 1px solid var(--color-borde);
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px var(--color-borde-difuminado);
    width: 95%;
    display: flex;
    cursor: pointer;
}


.ficha-producto-elements:hover{
    transform: scale(1.03);
}

.ficha-producto-imagen{
    width: 40%;
    border: 1px solid var(--color-borde);
    border-radius: 12px 0px 0px 12px;
    position: relative;
    padding-top: 57%;
    overflow: hidden;
}

.ficha-producto-imagen-img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.3s linear;
}

.ficha-producto-detalle{
    padding-left: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ficha-producto-detalle-nombre{
    font-size: 25px;
    font-weight: 500;
}

.ficha-producto-detalle-categoria{
    color: #AFAFAF;
}

.ficha-producto-detalle-ubicacion{
    color: #AFAFAF;
}

.ficha-producto-detalle-tipo{
    color: #AFAFAF;
}

.ficha-producto-detalle-calificacion{
    padding-top: 30px;
}

@media screen and (max-width: 1600px) {
    .ficha-producto-detalle-nombre{
        font-size: 20px;
    }
}

@media screen and (max-width: 1350px) {
    .ficha-producto-detalle-nombre{
        font-size: 15px;
    }
}

@media screen and (max-width: 1140px) {
    .ficha-producto-detalle-nombre{
        font-size: 25px;
    }
}