@import '../../index.css';

.formulario-nuevo4-container{
    /* border: 1px solid #f00; */
    width: 98%;
    height: 98%;
}

.formulario-nuevo4-elements{
    width: 100%;
    background-color: var(--color-secundario);
    border: 1px solid var(--color-borde);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px var(--color-borde-difuminado);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-nuevo4-bloque{
    /* border: 1px solid #f00; */
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formulario-nuevo4-detalle{
    /* border: 1px solid #f00; */
    width: 100%;
    /* height: 90%; */
}

.formulario-nuevo4-bloque-comentario{
    /* border: 1px solid #f00; */
    background-color: #FFFFFF;
    border-bottom: 1px solid var(--color-borde);
    box-shadow: 0px 0px 10px 0.1px var(--color-borde-difuminado);
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
    padding: 10px;
}

.formulario-nuevo4-comentario{
    /* border: 1px solid #f00; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.formulario-nuevo4-comentario-text-right{
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 15px 15px 15px 0px;
    box-shadow: 0px 0px 10px 1px var(--color-borde-difuminado);
    background-color: #EAE2EE;
}

.formulario-nuevo4-botones{
    /* border: 1px solid #f00; */
    width: 100%;
    height: 10%;
}

.formulario-nuevo4-contenedor-boton-atras{
    float: left;
}

.formulario-nuevo4-contenedor-boton-siguiente{
    float: right;
}

@media screen and (max-width: 550px) {

    .formulario-nuevo4-elements {
        padding-bottom: 100px;
    }

    .formulario-nuevo4-bloque-comentario {
        padding-left: 20px;
        padding-right: 20px;
    }

    .formulario-nuevo4-comentario-text-right {
        padding: 10px;
    }

    .detalle-item-comentario-text-user {
        /* border: 1px solid #f00; */
        width: 100%;
    }
}