@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

.logo-container{
    width: 100%;
}

.logo-elements{
    width: 100%;
    display: flex;
}

.logo-imagen{
    font-size: 40px;
    cursor: pointer;
    display: flex;
    font-family: "Rubik Gemstones", system-ui;
}