@import '../../index.css';

.menu-lateral-container{
    background-color: #7d5bd3;
    position: fixed;
    width: 60%;
    height: 100%;
    right: 0;
    top: 0;
    box-shadow: -5px 0px 30px #313131;
    display: flex;
    justify-content: center;

    animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
}

.menu-lateral-elements{
    /* border: 1px solid #f00; */
    width: 85%;
}

.menu-lateral-encabezado{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.menu-lateral-cuerpo{
    width: 100%;
    margin-top: 30px;
}

.menu-lateral-seccion{
    /* border: 1px solid #f00; */
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.menu-lateral-seccion:hover{
    transform: scale(1.05);
}

.menu-lateral-icono{
    float: left;
    margin-right: 10px;
    font-size: 20px;
}

.menu-lateral-nombre{
    float: left;
    letter-spacing: 1px;
}