@import '../../index.css';

.navbar-container{
    /* border: 1px solid #f00; */
    width: 100%;
    height: 95px;
    background-color: var(--color-principal);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo-responsive{
    display: none;
}

.navbar-elements{
    /* border: 1px solid #f00; */
    width: 90%;
    height: 100%;
    display: flex;
}

.navbar-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-barra-busqueda{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-usuario{
    /* border: 1px solid #f00; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

@media screen and (max-width: 990px) {

    .navbar-container {
        flex-direction: column;
        height: 125px;
    }

    .logo-responsive {
        /* border: 1px solid #f00; */
        display: flex;
    }

    .navbar-logo{
        display: none;
    }

    .navbar-barra-busqueda{
        width: 90%;
    }

    .navbar-usuario{
        width: 10%;
        justify-content: center;
    }

    .navbar-menu-hamburguesa{
        /* border: 1px solid #f00; */
        width: 10%;
        height: 100%;
        display: flex;
        justify-content:right;
        align-items: center;
        font-size: 25px;
    }
}